@model IEnumerable<carbon.Areas.Interest.Models.Company>

@{
    ViewBag.Title = "Companies";
}


<table border="0" style="width:100%">
    <tr>
        <td>
            <h3>Brands</h3>           
        </td>
        <td style="text-align:right; vertical-align:bottom"></td>
    </tr>
</table>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>@Html.ActionLink("Add", "Create")</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>            
            @Html.ActionLink(item.Title, "Details", new { id = item.CompanyId })
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompanyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CompanyId })
        </td>
    </tr>
}

</table>
